.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    color: white;
    font-size: 20;
    font-weight: bold;
}

.content {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
}